## 4.6 Merging Instacart Data

### 1. Import Libraries
### 2. Import Data Frame
### 3. Create a new data frame - merged 
### 4. Exporting Data Frame
### 5. Task 4.6 Merging Instacart Data
    ### - Import libraries
    ### - Import Data Frame
    ### - Create a new data frame merged
    ### - Export data frame

In [2]:
## Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
## Import data frame

path = r'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [4]:
path

'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data ', 'orders_prepared.csv'), index_col= 0)

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col=False)

In [7]:
# check the output df_ord

df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [8]:
## check the output df_ords_prior

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
## check shape for df_ord

df_ords.shape

(3421083, 7)

In [10]:
## check shape for df_ords_prior

df_ords_prior.shape

(32434489, 4)

### 3. Create a new data frame - merged

In [11]:
## create a new dataframe, df_merged_large, that contains the combined df_ords and df_ords_prior dataframes and uses the “order_id”

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [13]:
df_merged_large['_merge']. value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Merging both DataFrames using inner join

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [15]:
df_merged_large['_merge']. value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [16]:
## Check the shape
df_merged_large.shape

(32640698, 11)

### 4. Exporting Data Frame - .csv format & .pkl format

In [17]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_combined.pkl'))

In [18]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_combined.csv'))

KeyboardInterrupt:

### 5. Task 4.6 Merging Instacart Data

#### - Import libraries

In [19]:
## import libraries

import pandas as pd
import numpy as np
import os

#### - Import Data Frame - orders_products_combined.pkl

In [20]:
path = r'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [21]:
path

'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [22]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_combined.pkl'))

In [23]:
df_orders_products_combined.shape

(32640698, 11)

In [24]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data ', 'products_prepared.csv'), index_col= 0)
df_prods.shape

(49672, 5)

#### - Create a new data frame as orders_products_merged

In [25]:
df_merged = df_orders_products_combined.merge(df_prods, on = ['product_id'])

In [26]:
df_merged['_merge']. value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
df_merged.shape

(32404859, 15)

#### - Export data frame - orders_products_merged

In [28]:
## Export data frame pkl format

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_merged.pkl'))

df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0